@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Inter", ui-sans-serif, system-ui, sans-serif;
  
  --color-primary: #0052d6;
  --color-background-light: #f5f6f8;
  --color-background-dark: #0f1723;
  
  --radius-lg: 1rem;
  --radius-xl: 1.5rem;
}

@layer base {
  body {
    @apply font-sans antialiased bg-background-light text-slate-900 dark:bg-background-dark dark:text-slate-100;
  }
}

.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }
